<template name="basicLayout">
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><b>Comunica LIBRAS</b></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Already a member?</a></li>
          </ul>
        </div>
      </div>
    </div>

    {{> yield}}

	<div class="container">
		<hr/>
		<div class="row centered">
			<div class="col-lg-6 col-lg-offset-3">
				<form class="form-inline" role="form">
				  <div class="form-group">
				    <input type="email" class="form-control" id="email-subscribe-bottom" placeholder="Insira seu email aqui">
				  </div>
				  <button type="submit" class="btn btn-warning btn-lg">Assine agora!</button>
				</form>
			</div>
			<div class="col-lg-3"></div>
		</div>
		<hr>
		<p class="centered centered small">Theme created by BlackTie.co - Attribution License 3.0 - 2013</p>
	</div>
</template>
